*{
	/*
		CSS Reset : Resets the premade margins and padding by browser. In this way it is better to manipulate the elements using 0 margins/paddings.
	*/
	margin: 0;
	padding: 0;

	/*
		box-sizing : it determines how the dimentions of a box will be computed.

		w/o box-sizing : the browser will use the default method of computing the dimentions of the box.
			border+padding+content-width/height
			for div1 : 2px lb/tb +20px lp/tp + 100px w/h
	*/
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

#div1{
	/*
		Margin is the space outside the element/space outside the border of the element padding is the space between the content box and the border
	*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#div2{
	/*margin: 25px 100px;*/
	/*margin: 10px 70px 50px;*/
	/*margin: 100px 10px 15px 50px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	/* the contents of the element will be aligned to the top of the box */
	vertical-align: top;
}

#span1{
	/*the absence of padding will cause the browser to start measuring the dimensions of the element from the top-most and left-most portion of the element*/
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}