/*CSS preset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: "Open Sans", sans-serif;	
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;

}

nav>ul{
	list-style-type: none;
}

/* , - multilpe selector; used to select multiple selectors with different type/class/id/names */
nav .nav,nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-top: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2395b;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-top: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	/*Percentage value in width measns that the element will occupy the 30% of the viewport width*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*min-height : sets the minimum height for the element especially if the content does not reach the target height*/
	min-height: 160px;
}

#info h3{
	margin-bottom: 1rem;
}


/*PRE FOOTER*/
#pre-footer{
	border: 1px solid black;
	margin-top: 6rem;
	background-color: #022542;
	color: white;


}

#pre-footer div{
	display: inline-block;
	margin: 2rem 7rem 2rem 2rem;
	vertical-align: top;	
}

/*#pre-footer #div3{
	display: inline-block;
	margin:2rem 7rem 2rem 2rem;
	position: absolute;
}

#pre-footer #div4{
	display: inline-block;
	margin:2rem 7rem 2rem 17rem;
	position: absolute;
}*/


#pre-footer p{
	margin-top: 10px;
}

section #follow-us{
	margin-top: -50px!important;
}

footer{
	margin: 1rem 1rem 1rem 2%;
}

footer span{
	margin-right: 20px;
}

